body {
	position: relative;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 0;
	max-width: 1200px;
	height: 100%;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 10px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	background-image: url(../img/back-all.jpg);
	background-repeat: no-repeat;
	background-position: 50% top;
	box-shadow: 0 0 5px 3px #dedfdf;
}

.welcome-to-sedona {
	width: 1200px;
	height: 491px;
	position: relative;
}

.welcome-to-sedona::after {
	background-image: url(../img/polygon.svg);
	width: 100%;
	content: "";
	height: 59px;
	bottom: -20px;
	display: block;
	position: absolute;
}


.welcoming-message {
	background-position: center;
	    width: 100%;
	    height: 72%;
	    margin-top: 77px;
}

a {
	text-decoration: none;
	color: inherit;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.main-navigation .site-navigation {
	min-width: calc(43% - 63px);
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	list-style: none;
	padding-right: 73px;
	padding-left: 73px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
}

.main-navigation .site-navigation .navigation-left {
	display: inline-block;
	vertical-align: top;
}

.navigation-right {
	justify-content: flex-end;
}

.navigation-left li:nth-child(2) {
	margin-right: 116px;
	text-align: center;
}

.navigation-right li:first-child {
	margin-left: 123px;
	text-align: center;
	letter-spacing: 0.3px;
}

.header-point:hover,
.header-point:focus {
	color: #90b1d0;
}

.header-point:active {
	color: #c9c9c9;
}

.main-header {
	min-height: 56px;
}

.main-header-logo {
	position: absolute;
	left: calc(50% - 70px);
	margin-top: 0;
}

.logo {
	margin-bottom: 7px;
}

.welcome-text {
	text-align: center;
	margin-bottom: 28px;
	width: 100%;
}


.welcome {
	position: absolute;
	top: 283px;
}


.welcome-background {
	text-align: center;
}

.town-feature-item p {
	padding-top: 7px;
	padding-left: 54px;
}

.sedona-is h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;
	padding-top: 59px;
	    padding-bottom: 12px;
	padding-left: 300px;
	padding-right: 300px;
	background-color: #ffffff;
}

.sedona-is p {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-align: center;
	padding-bottom: 50px;
	background-color: #ffffff;
}

.sedona-is {
	background-color: #ffffff;
	min-height: 216px;
	margin-bottom: -15px;
}

.feature-big {
	min-height: 256px;
	display: flex;
	flex-direction: row;
	list-style: none;
	box-sizing: border-box;
}

.feature-big .feature-text {
	width: 400px;
	min-height: inherit;
	background-color: #90b2d0;
	color: #ffffff;
	text-align: center;
	align-content: space-between;
	box-sizing: border-box;
}

.feature-text h2 {
	list-style: none;
	font-size: 21px;
	line-height: 21px;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 30px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

.feature-text h3 {
	font-size: 14px;
	padding-top: 8px;
	padding-bottom: 5px;
	text-decoration: none;
	font-weight: normal;
}

.feature-text p {
	font-size: 14px;
	line-height: 21px;
	padding-left: 48px;
	padding-right: 45px;
	padding-top: 0px;
}

.feature-text:nth-child(2) p {
	font-size: 14px;
	line-height: 20px;
	padding-left: 43px;
	padding-top: 3px;
	min-width: 317px;
}

.feature-big .feature-pic {
	overflow: hidden;
	min-height: inherit;
	background-color: #ffffff;
	line-height: 0;
}

.feature-text:nth-child(2) h2 {
	list-style: none;
	font-size: 21px;
	line-height: 21px;
	padding-left: 122px;
	padding-right: 118px;
	padding-top: 28px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

.feature {
	padding-top: 0px;
	flex-grow: 1;
}

.feature-one {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	box-sizing: border-box;
	min-height: 330px;
	list-style: none;
	margin-bottom: 0;
	padding-top: 60px;
	padding-bottom: 60px;
}

.visually-hidden {
	visibility: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.town-attractors .logo {
	width: 75px;
	height: 72px;
	margin-bottom: 5px;
}

.town-feature-item {
	min-width: 400px;
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
	box-sizing: border-box;
}

.town-feature-item h2 {
	font-size: 21px;
	line-height: 21px;
}

.town-feature-item p {
	font-size: 14px;
	line-height: 21px;
	padding-left: 54px;
	padding-right: 55px;
}

.town-feature-item:nth-child(3) p {
	padding-right: 53px;
}

.features {
	margin: 0;
	padding: 0 0;
	margin-bottom: 62px;
	list-style: none;
	display: flex;
	flex-direction: row;
}

.features .feature {
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
	padding: 29px 60px;
	min-width: 400px;
	box-sizing: border-box;
}

.features .feature h2 {
	font-size: 21px;
	line-height: 22px;
	padding: 0px 34px;
}

.feature:nth-child(2) h2 {
	font-size: 21px;
	line-height: 22px;
	padding: 0px 51px;
}

.feature:nth-child(3) h2 {
	font-size: 21px;
	line-height: 22px;
	padding: 0px 60px;
}

.features .feature h3 {
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
	font-weight: normal;
	padding-top: 8px;
	margin-bottom: -1px;
}

.features .feature .all-attracts-1 {
	width: 20px;
}

.features .feature p {
	font-size: 14px;
	line-height: 21px;
	padding-top: 7px;
	text-align: center;
	justify-content: space-around;
}

.are-you-interested {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 7px;
}

.accommodation-title p:not(.are-you-interested) {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	padding-top: 8px;
	margin-bottom: 48px;
}

.accommodation-dropdown {
	position: relative;
}

.location {
	position: absolute;
	bottom: 195px;
	left: 316px;
	height: 396px;
	overflow: hidden;
}

.map {
	height: 100%;
	width: auto;
}

.accommodation-form-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 396px;
}

.accommodation-form {
	width: 568px;
	height: 396px;
	padding: 57px 55px;
	margin: -2px auto;
	box-sizing: border-box;
	box-shadow: 0 0 5px 1px gray;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	text-align: center;
	transition: all .2s ease;
	position: relative;
	z-index: 1;
}

.accommodation-form.hidden {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

.form-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	margin-bottom: -9px;
	padding-bottom: 17px;
}

.form-container label {
	width: 25%;
	font-weight: 700;
	text-align: left;
}

.form-container .input-left,
.form-container .input-right,
.form-container .in-out-date {
	height: 15px;
	flex-grow: 1;
	flex-shrink: 1;
	border: none;
	padding: 10px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
}

.form-container .input-left:hover,
.form-container .input-right:hover,
.form-container .in-out-date:hover,
.form-container .input-left:focus,
.form-container .input-right:focus,
.form-container .in-out-date:focus {
	background-color: #eaeaea;
	outline: 0;
	height: 15px;
	cursor: pointer;
}

.form-container .input-left:active,
.form-container .input-right:active,
.form-container .in-out-date:active {
	box-shadow: 0 0 0 2px #e4e4e4;
	background-color: #ffffff;
}

.with-icon {
	position: relative;
	padding-bottom: 41px;
}

.form-icon {
	position: absolute;
	right: 0px;
	top: 7px;
	bottom: 5px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/calendar.jpg);
	background-repeat: no-repeat;
	color: grey;
	cursor: pointer;
}

.form-icon:hover,
.form-icon:focus {
	background-image: url(../img/calendar-hover.jpg);
}

.form-icon:active {
	background-image: url(../img/calendar-active.jpg);
}

.form-icon {
	max-width: 100%;
	max-height: 100%;
}

.number-of-days {
	margin-left: 55px;
	margin-right: 63px;
	background: rgba(234, 255, 45, 0.2);
}

.date-info {
	height: 22px;
	border: 0;
}

.number-of-tourists {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1px;
}

.form-container-left {
	position: relative;
	width: 224px;
}

.form-container-right {
	position: relative;
    width: 178px;
}

.number-of-tourists .input-left,
.number-of-tourists .input-right {
	width: 87px;
	flex-grow: 0;
	margin-left: auto;
	background-color: #f2f2f2;
}

.number-of-tourists .input-left:hover,
.number-of-tourists .input-right:focus {
	background-color: #eaeaea;
}


.number-of-tourists .form-container input {
	text-align: center;
}

.label-center {
	text-align: center;
	padding-left: 51px;
}

.label-left {
	padding-right: 50px;
}

.accommodation-button {
	height: 59px;
	width: 100%;
	margin-top: 48px;
	border: 1px;
	border-color: #97b7d3;
	background-color: #90b2d0;
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.accommodation-button:hover,
.accommodation-button:focus {
	background-color: #799cbd;
}

.accommodation-button:active {
	background-color: #6c94ba;
	color: #a0b8d0;
}

.accommodation {
	text-align: center;
}

.in-out-date {
	-webkit-appearance: none;
	outline: none;
	text-transform: uppercase;
}

.checkin-date:active {
	height: 16px;
	flex-grow: 1;
	flex-shrink: 1;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}

.hotel-search {
	width: 568px;
	min-height: 86px;
	text-align: center;
	background-color: #706358;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	padding-bottom: 5px;
}

.hotel-search:hover,
.hotel-search:focus {
	background-color: #5c4f45;
}

.hotel-search:active {
	background-color: #4d4036;
	color: #8f8984;
	cursor: pointer;
}

.main-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	height: 120px;
	z-index: 1;
	padding: 0;
}

.inner-page .main-footer {
	position: relative;
	height: 120px;
	padding-bottom: 0px;
}

.footer-section {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hashtag-visitsedona {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	margin-right: 0;
	cursor: pointer;
}

.footer-social {
	text-align: center;
	align-items: center;
}

.footer-social ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	align-items: center;
}

.footer-social li {
	margin: 0 3px;
	fill: #ffffff;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 46px;
	height: 48px;
	background-color: #90b2d0;
}

.social-button:hover,
.social-button:focus {
	background-color: #799cbd;
	cursor: pointer;
}

.social-button:hover path,
.social-button:focus path {
	fill: #ffffff;
}

.social-button:active {
	background-color: #6c94ba;
}

.social-button:active path {
	fill: #98b4cf;
}

.footer-copyright {
	display: flex;
	align-items: center;
}

.footer-copyright b {
	font-size: 14px;
	line-height: 7px;
	margin-right: 7px;
}

.footer-copyright .button {
	display: block;
	width: 115px;
	height: 40px;
	background-image: url(../img/academy-logo-default.svg);
	margin-right: -2px;
	background-repeat: no-repeat;
}

.footer-copyright .button img {
	height: 100%;
	width: auto;
	background-image: url(../img/academy-logo-default.svg);
}

.footer-copyright .button:hover {
	background-image: url(../img/academy-logo-hover.svg);
}

.footer-copyright .button:active {
	background-image: url(../img/academy-logo-active.svg);
}


/* Далее страница выбора отелей */

.inner-page {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	height: 100%;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 10px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	background-image: none;
	box-shadow: 0 0 5px 3px #dedfdf;
}

.catalog {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 100px;
}

.inner-page h3 {
	color: black;
	font-size: 21px;
	line-height: 26px;
}

.hotels-list .catalog-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.catalog-list .catalog-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 17px 73px;
	padding-top: 29px;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 70px;
}

.catalog-item-left {
	display: flex;
	align-items: stretch;
	padding: 0;
}

.catalog-list .catalog-item:nth-child(2) {
	padding-top: 26px;
}

.catalog-item:last-child {
	margin-bottom: -105px;
}

.catalog-item-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.hotel-link {
	width: auto;
	height: auto;
	margin-right: 32px;
	overflow: hidden;
}

.hotel-link img {
	min-width: 136px;
	height: auto;
}

.catalog-item-info h3 {
	margin-top: -6px;
	margin-bottom: 8px;
	cursor: pointer;
}

.catalog-item-info h3:hover,
.catalog-item-info h3:focus {
	color: #91b2d0;
}

.catalog-item-info h3:active {
	color: #c9c9c9;
}

.catalog-item-info-extra {
	display: flex;
	margin-bottom: 17px;
	margin-right: 6px;
}

.catalog-item-info-extra div {
	margin-right: 5px;
}

.catalog-item-info-extra span {
	font-size: 14px;
	display: block;
	color: gray;
	margin-bottom: 14px;
	margin-right: 10px;
}

.catalog-item-info-extra a {
	display: block;
	padding: 5px 10px;
	background: gray;
	color: white;
	font-size: 14px;
}

.catalog-item-info-extra .button-more {
	background-color: #90b2d0;
	min-width: 90px;
	height: 17px;
	text-align: center;
	font-weight: bold;
	line-height: 17px;
}

.button-more:hover,
.button-more:focus {
	background-color: #799cbd;
}

.button-more:active {
	background-color: #6c94ba;
	color: #a0b8d0;
}

.catalog-item-info-extra .button-book {
	background: #706358;
	min-width: 123px;
	height: 17px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
}

.catalog-item-info-extra .button-book:hover,
.catalog-item-info-extra .button-book:focus {
	background-color: #5c4f45;
}

.catalog-item-info-extra .button-book:active {
	background-color: #4d4036;
	color: #8f8984;
}

.hotel-choosing {
	width: 100%;
	height: auto;
	background-position: top center;
	background-repeat: no-repeat;
}

.hotel-choosing-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: url(../img/background-blur.jpg);
	background-size: cover;
	background-position: 50% 17%;
	width: auto;
	min-height: 98px;
	min-height: 162px;
	background-color: #313b3d;
	padding: 27px 68px;
	padding-bottom: 7px;
}

.minus {
	background-image: url(../img/minus-2.png);
	width: 12px;
	height: 3px;
	border: none;
	position: absolute;
	right: 86px;
	cursor: pointer;
}

.minus:hover,
.minus:focus {
	background-image: url(../img/minus-hover.png);
	cursor:pointer;
}

.minus:active {
	background-image: url(..img/minus-active.png);
}

.plus {
	background-image: url(../img/plus-2.png);
	background-color: transparent;
	width: 11px;
	height: 11px;
	border: none;
	position: absolute;
	right: 11px;
	cursor: pointer;
}

.plus:hover,
.plus:focus {
	background-image: url(..img/plus-hover.png);
	width: 11px;
	height: 11px;

}

.plus:active {
	background-image: url(../img/plus-active.png);
}

.price-from-to {
	display: flex;
	justify-content: space-around;
	margin-bottom: 17px;
	width: 317px;
}

.hotel-choosing-wrapper ul {
	list-style: none;
	margin-top: 24px;
}

.filter-option {
	color: white;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 25px;
	padding-left: 38px;
	padding-top: 2px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
	font-size: 14px;
	line-height: 29px;
	padding-left: 3px;
	min-height: 18px;
}

.filter-input-checkbox {
	color: white;
}

.filter-input-checkbox+label::after {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	top: -2px;
	left: -37px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
	overflow: visible;
}

.filter-input-checkbox:checked+label::after {
	background-image: url("../img/checkbox-on.svg");
	width: 27px;
	height: 23px;
}

.hotel-choosing-wrapper label {
	color: white;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 18px;
	letter-spacing: -0.5px;
}

.hotel-choosing-wrapper:nth-child(2) label {
	margin-top: -2px;
}

.label .header-label {
	padding-top: 2px;
	font-weight: 700;
}

.label .header-label:nth-child(2) {
	padding-top: 2px;
	font-weight: 700;
}

.hotel-choosing fieldset {
	list-style: none;
	padding: 0;
	border: none;
}

.hotel-choosing-wrapper fieldset:first-child,
.hotel-choosing-wrapper fieldset:nth-child(2) {
	width: 252px;
}

.hotel-choosing .cost-fields {
	flex-grow: 2;
}

.filter-range {
	width: 319px;
	color: #ffffff;
	text-transform: uppercase;
	position: absolute;
	top: 9%;
	right: 5%;
}

.hotel-choosing-wrapper .comforts {
	padding-left: 0;
}

.info-wrapper {
	display: flex;
	flex-grow: 1;
	width: 25%;
}

.infrastructure {
	padding: 0;
}

.header-label {
	font-weight: 700;
}

l .header-label:nth-child(2) {
	padding-top: 5px;
}

.type-of-hotel {}

.day-cost {
	max-width: 300px;
	margin-left: auto;
}

.catalog h3 {
	font-size: 21px;
	line-height: 26px;
	color: black;
}

.catalog .searching-results {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 72px;
	height: 88px;
}

.searching-results-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 3px;
}

.searching-results-title h3 {
	margin-right: 40px;
}

.searching-results-arrows {
	margin-top: 5px;
}

.searching-results-arrows .order {
	margin-left: 8px;
}

.order:hover polygon,
.order:focus polygon {
	fill: #000000;
}

.order:hover polyline,
.order:focus polyline {
	fill: #000000;
}

.order:active polygon,
.order:active polyline {
	fill: #90b2d0;
}

.how-to-sort {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 4px;
}

.how-to-sort h4 {
	margin-right: 30px;
	margin-left: 7px;
	font-size: 11px;
	line-height: 18px;
}

.how-to-sort a {
	margin-right: 21px;
	font-size: 11px;
	line-height: 13px;
	color: gray;
	border-bottom: 1px dotted gray;
	margin-left: 16px;
}

.how-to-sort a:hover,
.how-to-sort a.active {
	color: #a0b8d0;
	border-color: transparent;
}

.how-to-sort a.active {
	border-color: transparent;
}

.filter-range {
	min-width: 330px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	font-weight: 600;
	font-size: 16px;
	line-height: 17px;
}

.price-controls {
	height: 32px;
	font-size: 0;
	position: absolute;
	top: 30px;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	min-width: 90px;
	min-height: 20px;
	padding-top: 4px;
	padding-left: 54px;
	box-sizing: border-box;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	height: 20px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	transform: translate(-50%, -50%);
	background: #ffffff;
}

.range-controls {
	position: relative;
	margin-bottom: 20px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
	width: 100%;
	bottom: 8px;
	position: absolute;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
	position: absolute;
	bottom: 8px;
}

.range-toggle {
	position: absolute;
	bottom: 0px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	padding: 2px;
	border-radius: 50%;
	cursor: pointer;
}

.price-from-to .min-price {
	padding-left: 34px;
}

.price-from-to .max-price {
	padding-left: 15px;
}

.range-toggle {
	position: absolute;
	bottom: 0px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	padding: 2px;
	border-radius: 50%;
	cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
	background-color: #ababab;
	transform: scale(1.1)
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
		left: 80%;
	}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	position: absolute;
	top: 204px;
	left: 895px;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.catalog-item-right .rating-stars img {
	padding-left: 3px;
}

.rating {
	font-size: 14px;
	padding-bottom: 20px;
	padding-right: 12px;
}
