*, *::after, *::before {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-navigation .site-navigation {
  width: calc(50% - 70px);
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  padding-right: 73px;
  padding-left: 73px;
  padding-top: 15px;
  margin: 0;

}

.navigation-left {
  justify-content: flex-start;
}

.navigation-right {
  justify-content: flex-end;
}

.site-navigation li {
  text-align: center;
}


.header-point:hover,
.header-point:focus {
  color: #90b1d0;
}

.main-header {
  height: 56px;

}

.main-header-logo {
  position: absolute;
  left: calc(50% - 70px);
  margin-top: 0;

}

.logo {
  margin-bottom: 7px;
}


.welcome-text {
text-align: center;
margin-bottom: 28px;
width: 100%;
}

.welcome-background {
text-align: center;
}

.town-feature-item p {

padding-top: 7px;
padding-left: 54px;
}

.sedona-is h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 29px;

}

.sedona-is p {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;

}

.feature-big {
  min-height: 256px;
  display: flex;
  flex-direction: row;
  list-style: none;
  box-sizing: border-box;

    }


.feature-big .feature-text {
  flex-grow: 1;
  min-height: inherit;
  background-color: #90b2d0;
  color: #ffffff;
  text-align: center;
  align-content: space-between;
  box-sizing: border-box;

}

.feature-text h2 {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.feature-text h3 {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: normal;


}

.feature-text p {
  font-size: 14px;
  line-height: 21px;
  padding-left: 48px;
  padding-right: 45px;
  padding-top: 0px;

}


.feature-big .feature-pic {
  flex-grow: 2;
  overflow: hidden;
  min-height: inherit;
  background-color: #ffffff;
  line-height: 0;
}

.feature {
  padding-top: 0px;
  flex-grow: 1;
}

.feature-one {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  box-sizing: border-box;
  min-height: 330px;
  list-style: none;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {

  visibility: hidden;
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;

}

.town-attractors .logo {
  width: 75px;
  height: 72px;

}

.town-feature-item {
  display: block;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
}


.town-feature-item h2 {
font-size: 21px;
line-height: 21px;

}

.town-feature-item p {
font-size: 14px;
line-height: 21px;
padding-left: 60px;
padding-right: 55px;
}


.features {
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.features .feature {
  flex-grow: 1;
  text-align: center;
  padding: 29px 60px;
}

.features .feature h2 {
  font-size: 21px;
  line-height: 21px;
}

.features .feature h3 {
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  font-weight: normal;
  padding-top: 8px;
}

.features .feature p {
  font-size: 14px;
  line-height: 21px;
  padding-top: 7px;
  text-align: center;
  justify-content: space-around;
}

.are-you-interested {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 7px;
}

.accommodation-title p:not(.are-you-interested) {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding-top: 7px;
  margin-bottom: 44px;

}

.location {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.map {
  height: 100%;
  width: auto;
}

.accommodation-form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 396px;
}

.accommodation-form {
  width: 568px;
  height: 396px;
  padding: 63px 55px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 1 px grey;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
  transition: all .3s ease;
}

.accommodation-form.hidden {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-container label {
  width: 25%;
  font-weight: 700;
  text-align: left;
}

.form-container input {
  height: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  background: #d0d0d0;
  border: none;
  padding: 10px;
  font-weight: 700;
  line-height: 20px;
}

.with-icon {
  position: relative;
}

.with-icon input {
  padding-right: 40px;
}

.form-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
}

.form-icon img {
  max-width: 100%;
  max-height: 100%;
}

.number-of-days {
  margin-left: 55px;
  margin-right: 63px;
  background: rgba(234, 255, 45, 0.2);

}

.date-info {
  height: 22px;
  border: 0;
}


.number-of-tourists {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number-of-tourists .form-container {
  width: 50%;
}

.number-of-tourists .form-container label,
.number-of-tourists .form-container input {
  width: 50%;
}

.label-center {
  text-align: center !important;
}

.accommodation-button {
  height: 58px;
  width: 100%;
  margin-top: 65px;
  border: 1px;
  border-color: #97b7d3;
  background-color: #90b2d0;
  font-size: 21px;
  color: #ffffff;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}

.accommodation-button:hover,
.accommodation-button:focus
 {
  background-color: #799cbd;
}

.accommodation-button:active {
  background-color: #6c94ba;
}

.accommodation {
  text-align: center;
}


.hotel-search {
  width: 568px;
  height: 86px;
  text-align: center;
  background-color: #706358;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  color: #ffffff;
  cursor: pointer;
}

.hotel-search:hover,
.hotel-search:focus
 {
  background-color: #5c4f45;

}

.hotel-search:active {
  background-color: #4d4036;
  cursor: pointer;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(255,255,255,.8);
  height: 120px;
  z-index: 1
}

.footer-section {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hashtag-visitsedona {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-right: 0;
  padding: auto 0;
  cursor: pointer;

}

.footer-social {
  text-align: center;
  align-items: center;
  margin: 0;
}

.footer-social ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

.footer-social li {
  margin: 0 5px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #90b2d0;
}

.social-button:hover,
.social-button:focus {
  background-color: #799cbd;
  cursor: pointer;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright b {
  margin-right: 10px;
}

.footer-copyright .button {
  height: 40px;
}

.footer-copyright .button img {
  height: 100%;
  width: auto;
}

/* Далее страница выбора отелей */

.inner-page {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  height: 100%;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 10px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;

}

.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 100px;
  }



 .inner-page h3 {
   color: black;
   font-size: 21px;
   line-height: 26px;
 }


 .hotels-list {

 }

 .hotels-list .catalog-list {
  list-style: none;
  padding: 0;
 }

 .catalog-list .catalog-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
   padding: 25px 70px;
   border-bottom: 1px solid gray;
 }

 .catalog-list .catalog-item:first-child {
  border-top: 1px solid gray;
 }

 .catalog-item-left {
  display: flex;
  align-items: stretch;
 }

 .catalog-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
 }

 .hotel-link {
  width: 120px;
  margin-right: 20px;
  overflow: hidden;
 }

 .hotel-link img {
  width: auto;
  height: 100%;
}

.catalog-item-info h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-item-info-extra {
  display: flex;
}

.catalog-item-info-extra div {
  margin-right: 5px;
}

.catalog-item-info-extra span {
  font-size: 14px;
  display: block;
  color: gray;
  margin-bottom: 15px;
}

.catalog-item-info-extra a {
  display: block;
  padding: 5px 10px;
  background: gray;
  color: white;
  font-size: 14px;
}

.catalog-item-info-extra .button-more {
  background: teal;
}

.catalog-item-info-extra .button-book {
  background: brown;
}

 .hotel-choosing {

   width: 100%;
   height: auto;
   background-position: top center;
   background-repeat: no-repeat;


 }

.hotel-choosing-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("../img/background-blur.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 217px;
  background-color: black;
  padding: 32px 72px;


}


.hotel-choosing-wrapper ul {
  list-style: none;
}

.filter-option {
  color: white;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
  padding-left: 38px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

}


.filter-input-checkbox {
  color: white;
}

.filter-input-checkbox + label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -37px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  overflow: visible;
}

.filter-input-checkbox:checked + label::after {
  background-image: url("../img/checkbox-on.svg");
  background-size: 104%;
  width: 23px;
}
  


.hotel-choosing-wrapper legend {
  color: white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hotel-choosing fieldset {
  list-style: 0;
  border: 0;
  padding: 0;
  flex-grow: 1;
}

.hotel-choosing .cost-fields {
  flex-grow: 2;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.hotel-choosing-wrapper .comforts {
  padding-left: 0;
}

.info-wrapper {
  display: flex;
  flex-grow: 1;
  width: 25%;

}

.infrastructure-and-type {
  padding: 0;
}


.day-cost {
  max-width: 300px;
  margin-left: auto;
}

.catalog h3 {
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.catalog .searching-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 72px;
}

.searching-results-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searching-results-title h3 {
  margin-right: 40px;
}

.searching-results-arrows .order {
  margin-left: 8px;
}

.how-to-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.how-to-sort h4 {
  margin-right: 30px;
}

.how-to-sort a {
  margin-right: 25px;
  line-height: 13px;
  color: gray;
  border-bottom: 1px dotted gray;
}

.how-to-sort a:hover,
.how-to-sort a.active {
  color: teal;
  border-color: teal;
}

.how-to-sort a.active {
  border-color: transparent;
}
